<h2>Reviews</h2>
<br/>
<h3>Your Statistics</h3>
<p>Overall - 3.3 Stars</p>
<p>Communication - 4.2 Stars</p>
<p>Reliability - 4.3 Stars</p>
<p>Productiveness - 1.4 Star</p>
<p>Technical Knowledge - 3.0 Stars</p>
<br/>
<h3>Review Feed</h3>
<div id="feed">
    <div class="review">
        <div class="reviewer">
            <p>John Smith</p>
        </div>
        <div class="view review">
            <div class="score">
                <p>Overall: 4.5</p>
            </div>
            <button type="button" class="Button element_toggler" aria-controls="new_group_form" aria-label="Add a Group">
            <i class="icon-folder"></i>Details</button>
        </div>
    </div>
</div>
